# Default settings for all files
[*]
charset = utf-8               # Files are encoded in UTF-8
end_of_line = lf               # Use LF (Line Feed) for new lines (Unix-style)
indent_style = space           # Indentation is made with spaces (not tabs)
indent_size = 2                # 2 spaces for each indentation level
tab_width = 2                  # Tab width set to 2 spaces
trim_trailing_whitespace = true # Remove unnecessary trailing whitespaces
insert_final_newline = true    # Ensure a new line at the end of the file

# Specific settings for JavaScript files
[*.js]
indent_size = 2
max_line_length = 80 